<div class="w-full h-auto flex items-center justify-center">
  <div class="w-full max-w-screen-lg h-screen">
    <iframe
      aria-label="Cappadocia Activity Guide"
      frameborder="0"
      class="w-full h-full"
      src="https://forms.zohopublic.eu/fadastravel/form/CappadociaActivityGuide/formperma/eSN-8RFclfDZaZUpaExz1UcMZ9hG7Z17ngIgN2xNlak"
    ></iframe>
  </div>
</div>