<div class="w-full h-auto flex items-center justify-center">
  <div class="w-full max-w-screen-lg h-screen">
    <iframe
      title="Istanbul Activity Guide"
      frameBorder="0"
      class="w-full h-full"
      src="https://forms.zohopublic.eu/fadastravel/form/ActivityGuideForm/formperma/FRQzS6ZO69ZhTZR8aybICjREr2aI5GbHCeWx8R-n51Y"
    ></iframe>
  </div>
</div>